<!DOCTYPE html>
<html>
<head>
	<title>OMDB Movie Search</title>
	<!-- app.css is inside the public directory -->
	<link rel="stylesheet" href="/app.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
	